In [8]:
clear all
clc
addpath(genpath('./external'));
% %% Load raw data
% twix_284=mapVBVD(284);
twix_287=mapVBVD(287);
% twix_290=mapVBVD(290);
% twix_293=mapVBVD(293);
twix_296=mapVBVD(296);
% twix_299=mapVBVD(299);
% %% get dimensions and signals
% raw_data_MID284=twix_284.image.unsorted(); % no slicing supported atm
raw_data_MID287=twix_287.image.unsorted(); % no slicing supported atm
% raw_data_MID290=twix_290.image.unsorted(); % no slicing supported atm
% raw_data_MID293=twix_293.image.unsorted(); % no slicing supported atm
raw_data_MID296=twix_296.image.unsorted(); % no slicing supported atm
% raw_data_MID299=twix_299.image.unsorted(); % no slicing supported atm

% %%
% save('raw_data_MID284_TE47us_TI360ms.mat', 'raw_data_MID284');
save('raw_data_MID287_TE800us_TI360ms.mat', 'raw_data_MID287');
% save('raw_data_MID290_TE1750us_TI360ms.mat', 'raw_data_MID290');
% save('raw_data_MID293_TE1750us_TI370ms.mat', 'raw_data_MID293');
save('raw_data_MID296_TE1750us_TI380ms.mat', 'raw_data_MID296');
% save('raw_data_MID299_TE1750us_TI350ms.mat', 'raw_data_MID299');

Software version: VB (!?)
Read raw data correction factors
Reader version: 1496740353 (UTC: 06-Jun-2017 09:12:33)
Scan 1/1, read all mdhs:
  1696.8 MB read in    3 s
Software version: VB (!?)
Read raw data correction factors
Reader version: 1496740353 (UTC: 06-Jun-2017 09:12:33)
Scan 1/1, read all mdhs:
  1696.8 MB read in    3 s

In [4]:
cd('mri_fyp/brain/raw_data')
pwd

ans = '/rds/general/user/ip620/home/mri_fyp/brain/raw_data'

In [11]:
% load("Z:\home\mri_fyp\brain\raw_data\raw_data_MID287_TE800us_TI360ms.mat")
load("/rds/general/user/ip620/home/mri_fyp/brain/raw_data/raw_data_MID287_TE800us_TI360ms.mat")
num_elements = 32;
for c = 1:num_elements
first_column_elements = raw_data_MID287(:, c, :);
first_column_elements = squeeze(first_column_elements);
flattened_data = reshape(first_column_elements, 1,[]);
save_folder = '/rds/general/user/ip620/home/mri_fyp/brain/sequence/coil_data/TE800us_TI360ms';
% save_folder = 'Z:\home\mri_fyp\brain\sequence\coil_data\TE800us_TI360ms';
filename = fullfile(save_folder, sprintf('coil_%d.mat', c));
save(filename, 'flattened_data');
end
clear

In [12]:
% load("Z:\home\mri_fyp\brain\raw_data\raw_data_MID296_TE1750us_TI380ms.mat")
load("/rds/general/user/ip620/home/mri_fyp/brain/raw_data/raw_data_MID296_TE1750us_TI380ms.mat")
num_elements = 32;
for c = 1:num_elements
first_column_elements = raw_data_MID296(:, c, :);
size(first_column_elements)
first_column_elements = squeeze(first_column_elements);
size(first_column_elements)
flattened_data = reshape(first_column_elements, 1,[]);
save_folder = '/rds/general/user/ip620/home/mri_fyp/brain/sequence/coil_data/TE1750us_TI380ms';
% save_folder = 'Z:\home\mri_fyp\brain\sequence\coil_data\TE1750us_TI380ms';
filename = fullfile(save_folder, sprintf('coil_%d.mat', c));
save(filename, 'flattened_data');
end

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952

ans = 1x3 double
         224           1       28952

ans = 1x2 double
         224       28952